.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.Header {
  color: #5f470c;
  text-shadow: 2px 2px 5px #fff;
  /* background-color: black; */
  font-size: 5rem;
  margin: 1.5rem;
}

h3 {
  font-size: 2.2rem;
}
/* write your parent styles in here for your App.js */
